---
---

<button >
    <a href="https://wa.me/5491150471996?text=Hola... me gustaria agendar una cita" target = "_black">Agendar una cita </a>

</button>

<style>
    button {
        border: none;
        background-color: transparent;
    }
    button a {
        box-shadow: 0 0 25px #7fc7af;
        padding: 15px 15px;
        border-radius: 15px;
        border: 2px solid #7fc7af;
        color: #7fc7af;
        background-color: #fff;
        font-size: 18px;
        font-weight: 400;
        text-decoration: none;
            
    }
    button a {
        text-decoration: none;
        
        color: #7fc7af;
        background: #fff;
    }
    button  a:hover {
        background: linear-gradient(to bottom, rgba(0, 176, 155, 0.5), rgba(150, 201, 61, 1));
        color: #fff;
    }
    button{
        animation: pulsate-bck 1.0s ease-in-out infinite both;
    }
    @keyframes pulsate-bck {
     0% {
         transform: scale(1);
        }
    
     50% {
         transform: scale(0.9);
        }
    
     100% {
         transform: scale(1);
        }
    }
    
       
</style>