---
import Layout from '../layouts/Layout.astro';
import SobreMi from '../components/sobremi/SobreMi.astro';
import Cursos from '../components/sobremi/Cursos.astro';
---
<Layout title='Sobre mi'>
    <main>
     <SobreMi />
     <Cursos />
    </main>
</Layout>

<style>
    main {
        
    }
</style>