---
---

<section>
    <div class="info">
        <h3><span>Un espacio</span> de confianza</h3>
        <p>Compromiso ético y profesional con cada uno de mis pacientes.<br>
           Mi labor es colaborar en la compresión y solución de problemas,
           promover el alcance de objetivos.<br>
           Favorecer la salud mental y la reducción síntomas, mejorando la 
           calidad de vida.
           
        </p>
    </div>
</section>


<style>
    section {
        margin: 35px 0;
    }
    .info {
        width: 90%;
        margin: auto;
        display: flex;
        gap: 50px;
        justify-content: space-between;
        align-items: center;
    }
    .info h3  {
        width: 40%;
        font-size: 48px;
        text-align: center;
        font-weight: 200;
        span {
            color: #7fc7af;
        }
    }
        
    .info p {
        font-size: 19px;
        font-weight: 200;
    }
    @media (max-width: 900px) {
        .info {
            width: 98%;
            display: flex;
            gap: 20px;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .info h3 {
            width: 95%;
            font-size: 36px;
            
        }
        .info p {
            font-size: 18px;
            width: 90%;
           
            
            
        }
    }
</style>