---
---
<footer>
    <div class="cuerpo">
        <div class="info">
            <h4>Lic. Rocio Ruth Vida</h4>
            <p> MAT-80364 (UBA) </p>

        </div>
        <div class="contacto">
            <h4>Informacion de Contacto</h4>
            <p>Lunes a Viernes 09 a 16 hs</p>
            <p>☏ 01134742201</p>
            <p>✉ yoovida@gmail.com</p>

        </div>

        <div class="redes">
            <h4>Mis Redes</h4>
            <div class="iconos">
                <span>
                <svg  xmlns="http://www.w3.org/2000/svg"  width="35"  height="35"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-meta"><path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M12 10.174c1.766 -2.784 3.315 -4.174 4.648 -4.174c2 0 3.263 2.213 4 5.217c.704 2.869 .5 6.783 -2 6.783c-1.114 0 -2.648 -1.565 -4.148 -3.652a27.627 27.627 0 0 1 -2.5 -4.174z" /><path d="M12 10.174c-1.766 -2.784 -3.315 -4.174 -4.648 -4.174c-2 0 -3.263 2.213 -4 5.217c-.704 2.869 -.5 6.783 2 6.783c1.114 0 2.648 -1.565 4.148 -3.652c1 -1.391 1.833 -2.783 2.5 -4.174z" /></svg>
                </span>
                <span>
                <svg  xmlns="http://www.w3.org/2000/svg"  width="35"  height="35"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-instagram">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z" /><path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" /><path d="M16.5 7.5l0 .01" /></svg>
                </span>
                <span>
                <svg  xmlns="http://www.w3.org/2000/svg"  width="35"  height="35"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-twitter"><path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M22 4.01c-1 .49 -1.98 .689 -3 .99c-1.121 -1.265 -2.783 -1.335 -4.38 -.737s-2.643 2.06 -2.62 3.737v1c-3.245 .083 -6.135 -1.395 -8 -4c0 0 -4.182 7.433 4 11c-1.872 1.247 -3.739 2.088 -6 2c3.308 1.803 6.913 2.423 10.034 1.517c3.58 -1.04 6.522 -3.723 7.651 -7.742a13.84 13.84 0 0 0 .497 -3.753c0 -.249 1.51 -2.772 1.818 -4.013z" /></svg>
                </span>
            </div>

        </div>

    </div>
</footer>
<style>
    footer {
        width: 90%;
        background-color: #fff;
        height: 125px;
        margin: 20px auto;
        border: 3px solid #7fc7af;
        border-radius: 10px;
    }
    .cuerpo {
        padding: 10px;
        display: flex;
        justify-content: space-between;
        
    }
        
        
    .info {
        width: 30%;
        display: flex;
        align-items: start;
        flex-direction: column;
        color: #fff;
        h4 {
            color: #3c3b3b;
            font-size: 18px;
            padding-bottom: 5px;
        }
        p {
            font-size: 16px;
            color: #3c3b3b;
        }
    }
   
       
        
        
        
    .contacto {
        width: 30%;
        display: flex;
        align-items: center;
        flex-direction: column;
        color: #fff;
        border-left: 2px solid #7fc7af;
        border-right: 2px solid #7fc7af;
        h4 {
            font-size: 18px;
            padding-bottom: 5px;
            color: #3c3b3b;
        }
        p {
            font-size: 16px;
            color: #3c3b3b;
        }
        
    }
    .redes {
        width: 30%;
        display: flex;
        align-items: center;
        flex-direction: column;
        color: #fff;
        h4 {
            font-size: 18px;
            padding-bottom: 5px;
            color: #3c3b3b;
        }
    }
    .redes .iconos {
        color: #fff;
        display: flex;
        justify-content: space-between;
        gap: 10px;
       
        
    }
    .iconos span {
        width: 50px;
        height: 50px;
        background-color: #7fc7af;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    @media (max-width: 900px) {
        footer {
            width: 98%;
            border-radius: 0;
            border: none;
            border-top: 3px solid #7fc7af;
            height: 350px;
        }
        .cuerpo {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 25px;
        }
        .info {
            width: 98%;
            display: flex;
            align-items: center;
        }
        .contacto {
            width: 68%;
            padding: 15px 0 ;
            border-left: none;
            border-right: none;
            border-top: 2px solid #7fc7af;
            border-bottom: 2px solid #7fc7af;
        }
        .redes {
            width: 98%;
        }
    }
</style>